@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato-Regular.woff), url(../fonts/Lato-Regular.woff2);
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato-Medium.woff), url(../fonts/Lato-Medium.woff2);
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato-Semibold.woff), url(../fonts/Lato-Semibold.woff2);
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato-Bold.woff), url(../fonts/Lato-Bold.woff2);
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato-Black.woff), url(../fonts/Lato-Black.woff2);
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: 'PT-serif';
	src: url(../fonts/PTSerif-Regular.woff), url(../fonts/PTSerif-Regular.woff2);
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Open-Sans';
	src: url(../fonts/OpenSans-Regular.woff), url(../fonts/OpenSans-Regular.woff2);
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Open-Sans';
	src: url(../fonts/OpenSans-Medium.woff), url(../fonts/OpenSans-Medium.woff2);
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Open-Sans';
	src: url(../fonts/OpenSans-Semibold.woff),
		url(../fonts/OpenSans-Semibold.woff2);
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
